extends layout

block content
  div
    h1(class="mb-4 mt-3") Budgets
      button(type="button" class='btn btn-primary addBtn' data-target="#addBudgetModal" data-toggle="modal")
        span(class='fas fa-plus')
  .row
    .col-md-4
      .list-group
        each budget in budgetList
          a(
            href='#' + budget.slug,
            class='list-group-item list-group-item-action',
            data-toggle='list'
          )
            div(class=['d-flex', 'w-100', 'justify-content-between'])
              h5.mb-1= budget.name
              medium= budget.amount + ' €'
    .col-md-8
      .tab-content
        each budget in budgetList
          .tab-pane(id=budget.slug)
            .row
              .col-12= budget.description || budget.name
              .col-11= 'Available: ' + budget.available + '€'
              button.col-1(class='btn btn-danger btn-sm' onclick=`deleteBudgetLine(${budget.id})`)
                span(class='fas fa-trash-alt')
              table.table(class='col-12 mt-2')
                thead
                  tr
                    th Expense
                    th Amount
                    th Date
                tbody
                each expense in budget.expenses
                  tr
                    td= expense.name
                    td= expense.amount + ' €'
                    td= expense.date

    div(id="addBudgetModal" class="modal fade")
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title New Budget Line
          .modal-body
            form(method="POST" action="/budgets")
              .form-group
                label(for="budgetName") Name
                input.form-control(id="budgetName" name="name" type="text" aria-describedby="budgetNameHelp" required)
                small(id="budgetNameHelp" class="form-text text-muted") Budget line name must be unique
                label(for="budgetAmount") Amount (€)
                input.form-control(id="budgetAmount" name="amount" type="number" aria-describedby="budgetAmountHelp" required)
                small(id="budgetAmountHelp" class="form-text text-muted") Budget line amount must be gretter than 0
                label(for="budgetDesc") Description
                textarea.form-control(id="budgetDesc" name="description")
              .modal-footer
                button(type="button" class="btn btn-secondary" data-dismiss="modal") Cancel
                button(type="submit" class="btn btn-primary") Add