extends layout

block content
  div
    h1(class="mb-4 mt-3")= budget.name
  .row
    .col-12= budget.description
    .col-11= 'Available: ' + budget.available + '€'
    button.col-1(class='btn btn-danger btn-sm' onclick=`deleteBudgetLine("${budget._id}")`)
      span(class='fas fa-trash-alt')
    table.table(class='col-12 mt-2')
      thead
        tr
          th Expense
          th Amount
          th Date
      tbody
      each expense in budget.expenses
        tr
          td= expense.name
          td= expense.amount + ' €'
          td= expense.date
