extends layout

block content
  h4.mt-2 Edit Expense
  form(method="POST" action=`/expenses/${expense._id}`)
    .form-group
      label(for="expenseName") Name
      input.form-control(id="expenseName" name="name" type="text" value=expense.name)
      label(for="expenseAmount") Amount (€)
      input.form-control(id="expenseAmount" name="amount" type="number" step="0.01" aria-describedby="expenseAmountHelp" value=expense.amount)
      small(id="expenseAmountHelp" class="form-text text-muted") Expense amount must be gretter than 0
      label(for="expenseDate") Date
      input.form-control(id="expenseDate" name="date" type="date" value=expense.date)
      label(for="budgetLine") Budget Line
      select.custom-select(id="budgetLine" name="budgetlineId")
         option(value=expense.budgetLine._id)= expense.budgetLine.name
    a(class="btn btn-secondary mr-1" href="/expenses") Cancel
    button(type="submit" class="btn btn-primary") Edit