.card.budget-card.mb-4
  .card-body.d-flex.flex-column
    .d-flex.flex-row.justify-content-between
      if budget.type === 'RESERVE'
        h5.card-title.reserveTitle= budget.name
        div= `${budget.available}€`
      else
        h5.card-title= budget.name
        div= `${budget.amount}€`
    span.badge.badge-info.align-self-start= `${budget.category}`
    p.card-text.text-truncate= budget.description
    a.btn.btn-primary.align-self-end.mt-auto(href=`/budgets/${budget._id}`) Details